@using MB.Model
@{
    var list = ViewBag.NewsList as List<NewsInfo>;
}


<ul class="list">
    @* <li><a href="http://115.236.13.58:888/" style="font-size: 14px;"><span class="label label-danger" style="float: none">NEW</span>  能诚BBS论坛</a></li>*@

    @if (list != null)
    {
        int count = 0;
        foreach (var item in list)
        {
            if (item.notice == false)
            {
                count++;
                if (DateTime.Now.AddDays(-7) <= @item.createTime)
                {
        <li><span class="label label-danger" style="float: none">NEW</span><a href="#" style="width:240px"  title="@item.title" onclick="NewsInfo(@item.newId)">@item.title</a><span>@item.createTime.ToString("yyyy-MM-dd")</span></li>
                }
                else
                {
        <li><a href="#" title="@item.title" onclick="NewsInfo(@item.newId)">@item.title</a><span>@item.createTime.ToString("yyyy-MM-dd")</span></li>
                }
        <li class="line"></li>
                if (count > 7)
                {
                    break;
                }
            }
        }
    }
    <div id="news_list">
    </div>
</ul>
<div class="more" onclick="NewsList()">更多</div>
<script>
    function NewsList() {
        var Flag = false;
        loadViewToMain("/News/NewsList?Flag=" + Flag + "&DriID=0");
        //window.location.href = "/News/NewsList?Flag=" + Flag + "&DriID=0";
    }
    function NewsInfo(id) {
        loadViewToMain("/NewsDel/NewsDel?id=" + id + "&Flag=false");
        //window.location.href = "/NewsDel/NewsDel?id=" + id + "&Flag=false";
    }
</script>
